nav {
    background-color: #166E92;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #166E92 100%);
    color: #fff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    list-style-type: none;
}

nav li a{
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem;
}

nav li a:hover{
    color:  #0E0F0F;
}

.container-user{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-img-top {
    width: 250px;
}

.card-description{
    max-width: fit-content;
}

.mynav button{
    background-color: #4D4D4D ;
  border: none;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.mynav button:hover{
    opacity: 1;
    color: white;
}